<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
                   <div class="col-md-12">
                     <ul class="top_infomation">
                       <li><a href="https://github.com/uaerman"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                       <li><a href="https://uaerman.dev"><i class="fa fa-code" aria-hidden="true"></i></a></li>
                       <li><a href="mailto:umurcan@uaerman.dev"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>   
                     </ul>
                   </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row d_flex">
                <div class="col-md-8">
                   <p>NodeJS Blog Project / UÆrman<a href="https://uaerman.dev"> LICENSE</a></p>
                </div>
                <div class="col-md-4">
                  <ul class="social_icon_bottom ">
                     <li><a href="https://github.com/uaerman/lenslight_app"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                     <li><a href="https://twitter.com/uaerman"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                     <li><a href="https://www.linkedin.com/in/uaerman/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
<script src="https://kit.fontawesome.com/875ddc303c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>