<header class="header-area">
    <div class="container-fluid">
       <div class="row ">
         
          <div class=" col-md-2 col-sm-3">
             <div class="logo">
                <a href="/">Node<br><span>Blog</span></a>
             </div>
          </div>
          <div class="col-md-8 col-sm-9">
             <div class="navbar-area">
                <nav class="site-navbar">
                   <ul>
                      <li><a class="<%= link === 'home' && 'active' %>" href="/">Home</a></li>
                      <li><a class="<%= link === 'about' && 'active' %>" href="/about">About</a></li>
                      <li><a class="<%= link === 'contact' && 'active' %>" href="/contact">Contact</a></li>
                      <li><a class="<%= link === 'posts' && 'active' %>" href="/posts">Posts</a></li> 
                   </ul>
                   <button class="nav-toggler">
                   <span></span>
                   </button>
                </nav>
             </div>
          </div>
          <div class=" col-md-2 di_none">
            <% if (user) { %>
               <ul class="email text_align_right" style="padding-right: 50px;">
               <li><a class="hover-underline-animation" href="/users/dashboard">Dashboard</a></li>
               <li><a class="hover-underline-animation" style="padding-right: 15px;"></a></li>
               <li><a class="hover-underline-animation send_btn" href="/logout">Logout</a></li>
               </ul>
            <% } else { %>
               <ul class="email text_align_right" style="padding-right: 50px;">
               <li><a class="hover-underline-animation" href="/login">Login</a></li>
               <li><a>/</a></li>
               <li><a class="hover-underline-animation" href="/register">Register</a></li>
               </ul>
            <%}%>      
          </div>
       </div>
    </div>
 </header>