<%- include("partials/_header") %>

    <body>
        <%- include("partials/_menu") %>
            <link rel="stylesheet" href="/css/index-banner.css">
            <section class="index-head">
                <h1>Node <span>Blog</span></h2>
                <p>A Project builded with Node and Express</p>
            </section>
            <h1 class="index-title text_align_center">Latest <span>Posts</span></h2>

        <%- include("partials/_footer") %>
    </body>