<%- include("partials/_header") %>

    <body>
        <%- include("partials/_menu") %>
            <link rel="stylesheet" href="/css/registerpage.css">
            <div class="login-page">
                <div class="form">
                    <form id="request" class="main_form" action="/users/register" method="POST">
                        <input class="form_control" placeholder="Username" type="text" name="username">
                        <div style="display: none;" class="alert alert-danger" id="username"></div>
                        <input class="form_control" placeholder="Email" type="text" name="email">
                        <div style="display: none;" class="alert alert-danger" id="email"></div>
                        <input class="form_control" placeholder="Password" type="password" name="password">
                        <div style="display: none;" class="alert alert-danger" id="password"></div>
                        <button>create</button>
                        <p class="message">Already registered? <a href="/users/login">Sign In</a></p>
                    </form>
                </div>
            </div>
    </body>
    <script>
        const form = document.querySelector('form')
        const emailError = document.querySelector('#email')
        const passwordError = document.querySelector('#password')
        const usernameError = document.querySelector('#username')
 
        form.addEventListener("submit", async (e) => {
           e.preventDefault();
 
           emailError.textContent = "";
           passwordError.textContent = "";
           usernameError.textContent = "";
           emailError.style.display = "none"
           passwordError.style.display = "none"
           usernameError.style.display = "none"
 
           const email = form.email.value
           const password = form.password.value
           const username = form.username.value
 
           try {
              const res = await fetch('/users/register', {
                 method: "POST",
                 body: JSON.stringify({ email, password, username }),
                 headers: { "Content-Type": "application/json" }
              })
 
              const data = await res.json();
              if (data) {
 
                 if (data.email) {
                    emailError.textContent = data.email
                    emailError.style.display = "block"
                 }
 
                 if (data.password) {
                    passwordError.textContent = data.password
                    passwordError.style.display = "block"
                 }
 
                 if (data.username) {
                    usernameError.textContent = data.username
                    usernameError.style.display = "block"
                 }
 
              }
 
              if (data.user) {
                 location.assign("/users/login")
              }
 
           } catch (err) {
              
              console.log("ERR::", err)
           }
        })
     </script>